ipython
jupyter
mne==1.7.1
mne-bids==0.15.0
networkx
nibabel
nilearn
pandas
pingouin
pyqt5
pyvista
pyvistaqt
pyyaml
xnat
git+https://github.com/Cogitate-consortium/iEEG-data-release.git@main#egg=cog_ieeg
